{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block container %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
     <img src={{ asset('images/logo.png') }} width="100px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{path('app_home')}}>Acceuil</a>
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="#">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{path('app_logout')}}>Deconnexion</a>
          </li>
         {% else %}
        
        <li class="nav-item">
          <a class="nav-link" href={{path('app_login')}}>Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path('app_register')}} >Inscription</a>
        </li>
         {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div style="background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('{{ asset('images/logo.png') }}') no-repeat center/cover;">
<h1>hello </h1>
</div>

{% endblock %}
